<md-content ng-controller="loginCtrl" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak"
 class="login-form" novalidate>
	<md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2><span>Login Form</span></h2>
			</div>
		</md-toolbar>
		<md-card-content>
			<form name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
				<md-input-container class="md-block">
					<label>Login</label>
					<input type="text" name="email" ng-model="email" placeholder="login" required="" />
					<div ng-messages="loginForm.email.$error" role="alert" multiple="">
						<div ng-message="required" class="my-message">Please enter your email.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Password</label>
					<input type="password" name="password" ng-model="password" placeholder="password" required="" md-maxlength="16" />
					<div ng-messages="loginForm.password.$error" role="alert" multiple="">
						<div ng-message="required" class="my-message">Please enter your password.</div>
						<div ng-message="md-maxlength" class="my-message">Too long.</div>
					</div>
				</md-input-container>
				<md-button type="submit" ng-disabled="!loginForm.$valid" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
				<a type="button" class="btn btn-link" ng-click="fbauth()"><i class="fa fa-facebook-square fa-3x" style="color: royalblue;" aria-hidden="true"></i></a>
				<a type="button" class="btn btn-link" ng-click="googleauth()"><i class="fa fa-google fa-3x" style="color: indianred;"  aria-hidden="true"></i></a>
			</form>
		</md-card-content>
	</md-card>
</md-content>