
html{
    overflow-x:hidden;
}
body {
    font-family: "Oxygen", sans-serif;
    position: relative;
    overflow-x: hidden;
}

p {
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 300;
    color: #222;
    font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111;
}
h2 {
    font-size: 30px;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}


ul {
    list-style-type: none;
}

nav {
    background: rgba(50,50, 50,1);
    padding: 10px 0;
    transition: all 0.3s linear;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    border-radius: 0px !important;
    left: 0;
    top: -80px;
    right: 0;
    height: auto;
    z-index: 99;
}
nav:hover {
    background: rgba(0, 0, 0,1);
    transition: all 0.3s linear;
}

.navbar-brand{
	color: #fff;
	font-weight: 300;
}
.navbar-brand:focus,
.navbar-brand:hover{
	color: #fff;
	font-weight: bold;
}
.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: transparent;
    border-bottom: 2px solid #fff;
    font-weight: 600;
}

.nav>li>a:active{
    background: transparent;
    border-bottom: 2px solid #fff;
    font-weight: 600;
}

.active {
    border-bottom: 2px solid #fff;
    transition-duration: 0.4s;
}
.default {
    top: 0;
}
.navbar {
    position: fixed;
    padding-right: 50px;
}

.form-inline>button{
	background: white;
	border: 1px solid black;
}


.form-inline>button:hover,
.form-inline>button:focus
{
	background-color: black;
	color: white;
	border: 1px solid black;
}


.dropdown-toggle[aria-expanded="true"] {
    background: transparent !important;
    border-bottom: 2px solid #fff !important;
    font-weight: 600 !important;
}
.navbar-toggle span {
    background: #fff;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .navbar-brand {font-size: 12px;}  /* show it on small screens */
}


